/* Initial style to make the elements visible */
body {
	/* border: 3px solid black; */
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
header {
	border: 2px solid green;
	/* display: flex; */
	justify-content: center;
}
main {
    overflow:auto; 
	border: 3px solid orange;
	background-color: blanchedalmond;
}

.info {
	border: 1px solid brown;
	border-radius: 6px;
	background-color: white;
	padding: 8px;
}

#base {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#title {
	border: 1px solid gray;
	display: inline-block;
}
#about {
}

#main-board {
    overflow:auto; 
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 2px solid red;
	margin: 0 auto;
	width: 90%;
	/* height: 400px; */
}

#towers {
    overflow:auto; 
	border: 3px solid yellow;
	display: flex;
	/* height: 300px; */
}

#base {
	background-color: rgb(58, 28, 7);
	border-radius: 15px 15px 5px 5px;
	min-height: 30px;
}

#upper-panel {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 12px 30px;
}

#upper-panel span {
	width: 100px;
}

#lower-panel {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 12px 30px;
}

.hidden {
	display: none;
}

/* Tower and disks style */
.tower {
	border: 2px solid green;
	width: 33%;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
	align-items: center;
	/* background-image: url(./images/rod.png);
	background-repeat: no-repeat;
	background-position: center; */
}

.rod {
    border: 2px solid black;
    background-color: rgb(58, 28, 7);
	border-radius: 15px 15px 0 0;
	/* height: 200px; */
    width: 15px;
    position: absolute;
    z-index: 0;
}

.disk {
	/* border: 2px solid yellowgreen; */
	box-shadow: 1px 1px 10px 1px rgb(223, 219, 25) inset;
	height: 30px;
	border-radius: 8px;
    display: inline-block;
    z-index: 10;
    vertical-align: middle;
  line-height: 2;
}
#disk-0 {
    width: 70%;
}
#disk-1 {
    width: 80%;
}
